html {
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    height: 100%;
    /* max-width: 100vw;
    max-width: 100vw; */
    background-color: #1E242B;
    font-family: Helvetica;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 45px;
    text-align: center;
}
input, button {
    outline: none;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.background { /* D-D-D */
    position: absolute;
    padding-top:100px;
    z-index: -1;
    background:inherit;

    display:block;
    min-height:100%;
    min-width:100%;
    flex-direction: column;
    display: flex;

    justify-content: center;
    align-items: flex-start;
    padding-left:5%;
}
.background p {
    font-size: 12vw;
    font-weight: bold;
    font-family: Helvetica;
    margin-bottom:10vw;
    color:#212933;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-container {
    background: #F9F9F9;
    height: 100vh;
}
/* Reusable */
.txt-primary {
    color: #6D58EF;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.landing_header {
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    white-space: nowrap;
    line-height: 90px;
}
h6 { /* Or email us at... */
    color: black;
    font-family: Helvetica;
}
a {
    color: #1E242B;
    text-decoration: none !important;
}
a:hover {
    color: rgba(39, 41, 44, 0.685);
    transition: all .5s;
}

.primary {
    background: #FFF;
    border-color: #6D58EF;
}
.btn {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    width:150px;
    height: 50px;
}
.btn-contact {
    margin-top: 15px;
}
.btn-form {
    font-size: 16px;
}
.btn-close {
    width: 125px;
    height: 40px;
    margin-top: 15px;
}
.btn:hover {
    background: #6D58EF;
}
.say-hi {
    font-size: 45px;
}
.txt-18 {
    font-size: 18px;
}
.form-subheader {
    font-size: 30px;
    line-height: 40px;
}
.btn:hover {
    color: #FFFFFF;
}
.btn-form:hover {
    color: #f9f9f9;
}

.transparent {
    color: #6D58EF;
    background: transparent;
}

.contact_message {
    width: 100%;
}
.form-tips {
    margin-top: 185px;
}
.form-tips p {
    text-align: left;
    line-height: 40px;
    font-style: normal;
    font-family: Helvetica;
    font-weight: bold;
    color: #1E242B;
}
.form-tips ul {
    padding-left: 0px;
    font-size: 16px;
    color: #8E9194;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form-tips ul li {
    line-height: 30px;
    font-size: 16px;
}
.btn-form-post {
    display: none;
}
.form-message {
    height: 600px;
}
/* @media only screen and (max-width: 900px) {
    .main .heading-3{
        width:80%;
        background-color: red;
        font-size: 15px;
        font-family: Helvetica;
    }
} */
@media only screen and (max-width: 789px) {
    .background {
        display: none;
    }
    .form-tips {
        width: 100%;
        margin-top: 5px;
        margin-left: 2px !important;
    }
    .form-tips p {
        font-size: 22px;
    }
    .btn-form {
        width: 100%;
        margin: 15px auto;
        display: none;
    }
    .btn-form-post {
        display: inline;
        width: 100%;
        margin-bottom: 15px;
    }
    .form-message {
        height: 200px;
        /* height: 40%; */
    }
    .say-hi {
        font-size: 35px;
    }
    .form-subheader {
        font-size: 22px;
    }
    .btn-close {
        width: 92px;
        height: 45px;
        margin: 10px 0px 0px 0px;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
    }
}
