body {
    height: 100vh;
    width: 100vw;
    background-color: #1E242B;
    font-family: 'Poppins', Helvetica;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}
input, button {
    outline: none;
}
/* Reusable */
.txt-primary {
    color: #6D58EF;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 
h6 {
    color: black;
    font-family: Helvetica;
}
.landing_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 90px;
}
a {
    color: #1E242B;
    text-decoration: none !important;
}
a:hover {
    color: rgba(39, 41, 44, 0.685);
    transition: all .5s;
}
.landing-grid-container {
    height: 100%;
    width: 100%;
    font-family: Poppins;
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "top top top top" "left main main right" "left main main right";
  }
.contact-grid-container {
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    color: #FFF;
    background: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "tl tc tc tr" "left main main right" "left main main right" "left bottom bottom right";
}

.main {
    grid-area: main;
    box-sizing: border-box;
}

.tl { grid-area: tl; }

.tc { grid-area: tc; }

.tr { grid-area: tr; }

.left { grid-area: left; }

.right { grid-area: right; }

.bottom { grid-area: bottom; }

.primary {
    background: #FFF;
    border-color: #6D58EF;
}
.close {
    width: 75px;
}
.btn:hover {
    background: #6D58EF;
    color: white;
}
.transparent {
    color: #6D58EF;
    background: transparent;
}
.primary a {
    color: #6D58EF;
}

.contact_message {
    width: 100%;
}
.contact_button_msg {
    width: 256px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-color: #6D58EF;
}
.contact_button a {
    color: #6D58EF;
}
