body {
    height: 100vh;
    width: 100vw;
    background-color: #1E242B;
    font-family: 'Poppins', Helvetica;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}
button {
    font-family: Helvetica;
    border-radius: 10px;
    font-size: 18px;
    width: 150px;
    margin-top: 50px;
}
h3 {
    font-family: Helvetica;
    font-size: 25px;
    line-height: 45px;
}
.landing_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 90px;
}
a {
    color: #1E242B;
    text-decoration: none !important;
}
a:hover {
    color: rgba(39, 41, 44, 0.685);
    transition: all .5s;
}
.landing-grid-container {
    height: 100%;
    width: 100%;
    font-family: Poppins;
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "top top top top" "left main main right" "left main main right";
  }
  .contact-grid-container {
    height: 100%;
    width: 100%;
    font-family: Poppins;
    color: #FFF;
    background: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "top top top top" "left main main right" "left main main right";
}
.contact-grid-container h4 {
    color: black;
}
.contact_message {
    width: 100%;
}
.contact_button {
    border-color: #6D58EF;
}
.contact_button a {
    color: #6D58EF;
}

.top {
    grid-area: top;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.main {
    grid-area: main;
}
